var scheme   = "<%= @scheme %>";
var uri      = scheme + window.document.location.host + "/";
var ws       = new WebSocket(uri);
var serviceToken = "";
var serviceTokens = [];
var data     = {};
initializeWebSocket()


function reopenWebSocket(){
  if (ws == null) {
    uri      = scheme + window.document.location.host + "/";
    ws       = new WebSocket(uri);
    initializeWebSocket()    
  }
}

function initializeWebSocket(){

  ws.onmessage = function(message) {
    console.log(message)
    storeDatum(JSON.parse(message.data))
    $("#chat-text").html("");
    var filterdData = filterData()
    for (key in filterdData) {
      var datum = filterdData[key]
      $("#chat-text").append("<div class='panel panel-default'><div class='panel-heading'>" + key + "</div><div class='panel-body'>" + "device名：" + datum.deviceToken + "</br>"  + datum.detectedAt + "</br>" + datum.rssi  + "</br>" + datum.location + "</div></div>");
    }

    $("#chat-text").stop().animate({
      scrollTop: $('#chat-text')[0].scrollHeight
    }, 800);
  };

  ws.onopen = function(event){
    console.log("opened!!!!")    
  }

  ws.onclose = function(event){
    console.log("closed!!!!")
    ws = null;
    setTimeout("reopenWebSocket()", 3000);
  }
  ws.onerror = function(event){
    console.log("error!!!")
  }
}

var lastDatum;
function storeDatum(datum){
  lastDatum = datum
  var majorMinor = String(datum.major) + "-" + String(datum.minor)
  if (data[datum.serviceToken] == null){
    data[datum.serviceToken] = {}
    serviceTokens.push(datum.serviceToken)
    $("#service-token-form").append("<button class='btn btn-primary' type='submit' onclick='serviceToken = \"" + datum.serviceToken + "\"'>"  + datum.serviceToken +  "</button>");
  }
  data[datum.serviceToken][majorMinor] = datum
}

function filterData(){
  if (serviceToken == ""){
    var _data = {}
    for (key of Object.keys(data)){
      for (dataIndex in data[key]){
        var datum = data[key][dataIndex]
        var majorMinor = String(datum.major) + "-" + String(datum.minor)
        _data[majorMinor] = datum
      }
    }
    return _data
  }else{
    return data[serviceToken]
  }
}

