var scheme   = "<%= @scheme %>";
var uri      = scheme + window.document.location.host + "/";
var ws       = new WebSocket(uri);
var serviceToken = "";
var data     = {};

$("#service-token-form").on("submit", function(event) {
  serviceToken = $("#service-token")[0].value;
});


ws.onmessage = function(message) {
  print(message)
  storeDatum(JSON.parse(message.data))
  $("#chat-text").html("");
  var filterdData = filterdData()
  for (key in filterdData) {
    var datum = filterdData[key]
    $("#chat-text").append("<div class='panel panel-default'><div class='panel-heading'>" + key + "</div><div class='panel-body'>" + datum.major + "</div></div>");
  }

  $("#chat-text").stop().animate({
    scrollTop: $('#chat-text')[0].scrollHeight
  }, 800);
};

$("#input-form").on("submit", function(event) {
  event.preventDefault();
  var handle = $("#input-handle")[0].value;
  var text   = $("#input-text")[0].value;
  ws.send(JSON.stringify({ handle: handle, text: text }));
  $("#input-text")[0].value = "";
});

function storeDatum(datum){
  var majorMinor = String(datum.major) + "-" + String(datum.minor)
  data[datum.serviceToken][majorMinor] = datum
}

function filterdData(){
  return data[serviceToken]
}